html, body {
    font-size: large;
    text-align: center;
    background-image: linear-gradient(120deg, #9865c7f8, #30447c);
    color: white;
    height:100%;
}
button{
    font-size: large;
    padding: 5px 10px 5px 10px;
    margin: 5px 0 5px 0;
}
.btn{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 8px;
    font-size: large;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;

    color: #333;
    background-color: #fff;
    border-color: #ccc;
}