html, body {
    font-size: large;
    text-align: center;
    background-image: linear-gradient(120deg, #9865c7f8, #30447c);
    color: white;
    height:100%;
}
button{
    font-size: large;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
}